@if(true){ @for (item of numbers; track $index) {
<ng-container>
  <h1>Heading {{ item }}</h1>
</ng-container>
} }@else{
<ng-container><h1>Else Condition</h1></ng-container>
}

<ng-container *ngIf="expression; else templateName"> If Expression</ng-container>
<ng-template #templateName>NG If</ng-template>


 <ng-container *ngTemplateOutlet = "template_Content1; context:{numbers:'Hussain'}">
 </ng-container>

 <ng-template #template_Content let-numbers_Data="numbers">
  {{numbers_Data}}
 </ng-template>
 <ng-template #template_Content1 let-numbers_Data="numbers">
  {{numbers_Data}} Template 2
 </ng-template>
