
<h1>Parent Component</h1>
<!-- <div style="background-color: antiquewhite; padding: 20px;"> -->


<!-- <h3>{{score}}</h3> -->
<!-- <button (click)="plusFive()">+Five</button>
<button (click)="minusFive()">-Five</button> -->
<!-- <app-child  style="background-color: rgb(243, 204, 154); padding: 20px;"  [value]="score" (dataEvent)="receiveData($event)" #accessChild ></app-child/> -->
<!-- <app-child   [value]="score" ></app-child>/ -->
<!-- <app-child (emitValue) = "getValueFromChild($event)"></app-child> -->

<!-- </div> -->


  <h2>Employees</h2>
  @for (item of userList; track item.name; let index = $index) {
    <app-child [userData]="item" ></app-child>
}
