<app-login></app-login>


<form [formGroup]="form">

  <input placeholder="Start date" formControlName="startAt" type="date">

  <input placeholder="End date" formControlName="endAt" type="date">
  <div class="field-message" *ngIf="form.errors?.['dateRange']">
    Start date should not be greater end Date
</div>

  <button [disabled]="form.invalid" (click)="submitForm()">Get Date</button>

</form>


<hr>
<form [formGroup]="userForm">

  <input placeholder="Name" formControlName="name" type="text">
  <input placeholder="Confirm Name" formControlName="confirmName" type="text">


  <div class="field-message" *ngIf="userForm.errors?.['nameMismatch']">
    Start date should not be greater end Date
</div>

  <button [disabled]="userForm.invalid" (click)="submitForm()">Submit</button>

</form>



