
<app-template-projection>
  <h1 Title>Template Projection</h1>
  <img src="" alt="Template" Image>
   <p Body>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis eveniet omnis nulla magni atque quis soluta recusandae facere provident illo doloremque fuga modi, totam exercitationem, commodi eos dolorum vero incidunt. Culpa repellendus aliquid, incidunt reiciendis quibusdam debitis maxime asperiores ex quis quo quae et hic perferendis ullam, deleniti aperiam nostrum?</p>
</app-template-projection>
